<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
 
<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

 
 <h2>Add a comment:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <div class="form-group" >
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter, class:"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Edit', edit_article_path(@article), class: "btn btn-default" %> 
<%= link_to 'Back', articles_path, class: "btn btn-default pull-right" %>